<h1> <%= @poll.title %></h1>
<h2><%= @poll.text %></h2>
<ol>
	<% @poll.questions.each do |question| %>
    <li>
    	<p>
    	<strong>Question:</strong>
    	<%= question.question %>
  		</p>
  		<ul style="list-style: none;">
  			<% question.responses.each do |response| %>
  			<li><input type="radio" name="<%= question.id %>" value="male"/><%= response.text %></li>
  			<% end %>
  		</ul>
    </li>
    <% end %>
</ol>
<a href="/polls/<%= @poll.id %>/check_fill?invitation=<%= @invitation.invitation %>"> Enviar Encuesta</a>