<h1>Listing Pollings</h1>
 
 <%= link_to 'New Poll', new_poll_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.title %></td>
      <td><%= poll.text %></td>
      <td><%= link_to 'Show', poll_path(poll) %></td>
      <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
      <td><%= link_to 'Destroy', poll_path(poll), method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
</table>