<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @poll.text %>
</p>

<h2>Questions</h2>
<% @poll.questions.each do |question| %>
  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>
  <% question.responses.each do |response| %>
  <p>
    <strong>Response:</strong>
    <%= response.text %>
  </p>
  <% end %>
  <h2>Add a Response:</h2>
	<%= form_for([@poll, question, question.responses.build]) do |f| %>
  	<p>
    	<%= f.label :text %><br>
    	<%= f.text_field :text %>
  	</p>
  	<p>
    	<%= f.label :value %><br>
    	<%= f.text_field :value %>
  	</p>
  	<p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>

<h2>Add a Question:</h2>
<%= form_for([@poll, @poll.questions.build]) do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', polls_path %> | <%= link_to 'Edit', edit_poll_path(@poll) %>