<!DOCTYPE html>
<html>
<head>
  <title>Polling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
